<link rel="stylesheet" href="/css/header.css">
        <header id="main-header">
            <div id="logo">
                <img src="/images/logo.png" alt="logo">
            </div>
            <div id="employee-name">
                <h2>Samir</h2>
            </div>
            <div>
                <a href=""><span id="sign-out">Sign Out</span></a>
               <a style="font-size: 30px; color: rgb(0, 0, 0); margin-left: 20px;" href="/"><i  class="fas fa-home"></i></a> 
            </div>
            
            
        </header>
  