<link rel="stylesheet" href="/css/header.css">
        <header id="main-header">
            <div id="logo">
                <img src="/images/logo.png" alt="logo">
            </div>
            <% if(locals.user) {%>

            <% if(locals.user.userType == "admin") {%>
                <div>     
                    <h1>Admin Dashboard</h1>
                    <a href="/employee/employee" ><h5>Go to Employee Dashboard</h5></a>

                </div>
                <%} else {%> 
                <div>
                    <h1>Employee Dashboard</h1>
                </div> 
                <%}%>

                <div id="employee-name">
                    <h3><%=locals.user.employeeName%></h3>
                </div>

            <div>
                <a href="/session-destroy"><span id="sign-out">Sign Out</span></a>
                <% if(locals.user.userType == "admin") {%>
               <a style="font-size: 30px; color: rgb(0, 0, 0); margin-left: 20px;" href="/admin"><i  class="fas fa-home"></i></a>
               <%}%>  
            </div>
            
          
            <%}%>            
        </header>
  