<form action="/create-session" method="POST">
    <label for="employeeName">Email</label>
    <input type="email" name="email">

    <label for="password">Password</label>
    <input type="password" name="password">

    <button>Log In</button>
</form>