<link rel="stylesheet" href="/css/sign_in.css">



<form id="sign-in-form" action="/create-session" method="POST">
    <h3>Sign In Admin/Employee</h3>
    <label for="employeeName">Email</label>
    <input type="email" name="email">

    <label for="password">Password</label>
    <input type="password" name="password">

    <button>Log In</button>
</form>