*{
    margin:0;
    padding: 0;
}

#main-header{
 height: 60px;
 width: 100%;
 background-color:rgb(218, 202, 202);
 display: flex;
 justify-content: space-around;
 align-items: center;
}

#logo{
 height: 60px;
 width: 60px;
 background-color: transparent;
 margin-left: -120px;
}

#logo img{
    height: 100%;
    width: 100%;
}

#sign-out{
    margin-left:100px;
}
