#sign-in-form{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 440px;
    margin-top: 50px;
    align-items: center;
    justify-content: space-around;
    background-color:wheat;
    padding: 10px;
    margin-left: 33%;
}

#sign-in-form label{
    font-size: 20px;
    margin-bottom: -20px;
    font-weight: bold;
}

#sign-in-form input{
    font-size: 20px;
    padding: 5px;
    width: 300px;
    background-color: thistle;
}

#sign-in-form  button{
    padding: 2px 5px;
    font-weight: bold;
    font-size: 20px;
}